ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: #111;
}

.dropdown {
    float: left;
    overflow: hidden;
  }
  
.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown-content a:hover {
    background-color: #ddd;
  }
  
.dropdown:hover .dropdown-content {
    display: block;
}
#navRight {
    position: absolute;
    right: 10px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navRight input {
    visibility: hidden;
    margin-right: 10;
}
.container {
    position: relative;
    text-align: center;
    color: white;
}
  
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
    background-color: #111;
    padding: 10px;
}

.profile {
    width: 150px;
    height: 150px;
    border-radius: 100%;
}

#team {
    margin-top: 50px;
    text-align: center;
}

.info {
    margin: 70px;
    display: inline-block;
}

#work  {
display: flex;
background-color: #333;
padding: 20px;

}

.rBtn {
    top:-20px; 
    position: absolute;
    right:  20px;
    padding: 10px;
}
.card {
    width: 300px;
    margin: 10px;
    background-color: white;
}

.card img{
    width: 300px;
    height: 150px;
}
#text{
    color: white;
}

#contact {
    display: flex;
    position: relative;
    background-color:rgb(240, 240, 240);
    padding: 20px;
    padding-top: 50px;
}

#form{
    background-color: white;
    position: absolute;
    right: 20px;
    width: 600px;
    padding: 10px;
}

#follow {
    background-color: black;
    text-align: center;
    color: white;
    position: relative;
    padding: 20px;
}

.btns button {
    background-color:rgb(0, 150, 136);
    color: white;
    font-weight: 200;
    width: 30px ;
    height: 30px;
    border: 2px solid rgb(0, 150, 136);
}

